## MySql Connection

In [13]:
from sqlalchemy import create_engine

In [14]:
database_user_id = "LionCourseAdmin"
database_user_password = "Rivendell"
# database_user_id = "root"
# database_user_password = "Cyx980901-"

database_url = "mysql+pymysql://" + \
    database_user_id + ":" + database_user_password + "@lioncoursedatabase.c5zzynku9kw4.us-east-2.rds.amazonaws.com"
database_url

'mysql+pymysql://LionCourseAdmin:Rivendell@lioncoursedatabase.c5zzynku9kw4.us-east-2.rds.amazonaws.com'

In [15]:
%reload_ext sql

In [16]:
%sql $database_url

'Connected: LionCourseAdmin@None'

In [17]:
sqla_engine = create_engine(database_url)

In [18]:
%%sql 
drop schema if exists 6156_Project;
create schema 6156_Project;

 * mysql+pymysql://LionCourseAdmin:***@lioncoursedatabase.c5zzynku9kw4.us-east-2.rds.amazonaws.com
0 rows affected.
1 rows affected.

[]

## Load Data

In [19]:
import pandas as pd

### Course to Department Data

In [20]:
data = pd.read_csv('course_department.csv')

In [21]:
df = data[['Course Prefix','Department Subject']]

In [22]:
df.head(5)

  Course Prefix                 Department Subject
0          AHIS                        Art History
1          AMCS  Applied Math and Computer Science
2          AMST                   American Studies
3          ANTH                       Anthropology
4          APAM   Applied Physics and Applied Math

In [23]:
df.to_sql(
    "course_to_department", con=sqla_engine, if_exists="replace", index=False,
    schema="6156_Project")

In [24]:
%%sql 
use 6156_Project;
select * from course_to_department limit 5;

 * mysql+pymysql://LionCourseAdmin:***@lioncoursedatabase.c5zzynku9kw4.us-east-2.rds.amazonaws.com
0 rows affected.
5 rows affected.

[('AHIS', 'Art History'),
 ('AMCS', 'Applied Math and Computer Science'),
 ('AMST', 'American Studies'),
 ('ANTH', 'Anthropology'),
 ('APAM', 'Applied Physics and Applied Math')]

### Course Info

In [25]:
import json

In [14]:
# f = open('Data/course.json')

In [15]:
# data = json.load(f)

In [16]:
# data[-1:]

In [17]:
# data_seas_ee = []
# for d in data:
# #     if d['SchoolCode'] == 'SEAS':
#     if d['DepartmentName'] == 'Electrical Engineering' and int(str(d['Course'])[4:8]) >= 4000 and int(str(d['Term'])[0:4]) >= 2021:
#         d['NumFixedUnits'] = str(d['NumFixedUnits']).replace('0','')
#         data_seas_ee.append(d)

In [18]:
# df = pd.DataFrame.from_dict(data_seas_ee)
# df_selected = df[['Course','CourseTitle', 'CourseSubtitle', 'CallNumber', 'Term', 'Instructor1Name', 'NumFixedUnits']]

In [19]:
# %sql drop table if exists course_info_open_data

In [20]:
# df_selected.to_sql(
#     "course_info_open_data", con=sqla_engine, if_exists="replace", index=False,
#     schema="6156_Project")

In [21]:
# %sql select * from course_info_open_data limit 10

In [26]:
data_all_raw = pd.read_csv('data_all_raw.csv')

In [27]:
data_all_raw.to_sql(
    "Course_info", con=sqla_engine, if_exists="replace", index=False,
    schema="6156_Project")

In [28]:
%%sql

use 6156_Project;

select * from Course_info limit 10

 * mysql+pymysql://LionCourseAdmin:***@lioncoursedatabase.c5zzynku9kw4.us-east-2.rds.amazonaws.com
0 rows affected.
10 rows affected.

[('CBMF4761W001', 'COMPUTATIONAL GENOMICS', 'COMPUTATIONAL GENOMICS', 12444, 20221, "PE'ER, ITSIK", 3, '13@14401555', '253 Eng Terrace ', 'Systems Biology'),
 ('COMS4111WH01', 'INTRODUCTION TO DATABASES', 'INTRODUCTION TO DATABASES', 20427, 20221, 'FERGUSON, DONALD F', 3, '5@10101240', 'Hybrid', 'data'),
 ('COMS4111W001', 'INTRODUCTION TO DATABASES', 'INTRODUCTION TO DATABASES', 12428, 20221, 'FERGUSON, DONALD F', 3, '5@10101240', '501 Schermerhorn Hall [SCH]', 'data'),
 ('COMS4111W002', 'INTRODUCTION TO DATABASES', 'INTRODUCTION TO DATABASES', 13911, 20221, 'WU, EUGENE', 3, '5@13101540  ', '417 International Affairs: Building ', 'data'),
 ('COMS4111W003', 'INTRODUCTION TO DATABASES', 'INTRODUCTION TO DATABASES', 15287, 20221, 'BILIRIS, ALEXANDROS', 3, '4@16101841', '402 Chandler ', 'data'),
 ('COMS4112W001', 'DATABASE SYSTEM IMPLEMENTATION', 'DATABASE SYSTEM IMPLEMENT', 12429, 20221, 'ROSS, KENNETH A', 3, '13@13101425', '451 Computer Science Building', 'data'),
 ('COMS4113WH01', 'FUND-LARGE-SCALE DIST SYSTEMS', 'FUND-LARGE-SCALE DIST SYS', 17356, 20221, 'GEAMBASU, ROXANA', 3, '5@10101240', 'Hybrid', 'computer systems'),
 ('COMS4113W001', 'FUND-LARGE-SCALE DIST SYSTEMS', 'FUND-LARGE-SCALE DIST SYS', 12470, 20221, 'GEAMBASU, ROXANA', 3, '5@10101241', '451 Computer Science Building', 'computer systems'),
 ('COMS4115W001', 'PROGRAMMING LANG & TRANSLATORS', 'PROGRAMMING LANG & TRANSL', 12430, 20221, 'GU, RONGHUI', 3, '13@17401855 ', '501 Schermerhorn Hall [SCH]', 'computer engineering'),
 ('COMS4118W001', 'OPERATING SYSTEMS I', 'OPERATING SYSTEMS I', 12431, 20221, 'LEE, JAE W', 3, '3@16101840 ', '501 Northwest Corner Building', 'computer systems')]

In [29]:
%sql describe Course_info

 * mysql+pymysql://LionCourseAdmin:***@lioncoursedatabase.c5zzynku9kw4.us-east-2.rds.amazonaws.com
10 rows affected.

[('Course', 'text', 'YES', '', None, ''),
 ('CourseTitle', 'text', 'YES', '', None, ''),
 ('CourseSubtitle', 'text', 'YES', '', None, ''),
 ('CallNumber', 'bigint', 'YES', '', None, ''),
 ('Term', 'bigint', 'YES', '', None, ''),
 ('Instructor1Name', 'text', 'YES', '', None, ''),
 ('NumFixedUnits', 'bigint', 'YES', '', None, ''),
 ('Time', 'text', 'YES', '', None, ''),
 ('Location', 'text', 'YES', '', None, ''),
 ('Tag', 'text', 'YES', '', None, '')]

In [30]:
df_evaluation = pd.read_csv('course_evaluation.csv')

In [31]:
df_evaluation.to_sql(
    "course_evaluation", con=sqla_engine, if_exists="replace", index=False,
    schema="6156_Project")

In [32]:
%%sql

use 6156_Project;

select * from course_evaluation limit 10

 * mysql+pymysql://LionCourseAdmin:***@lioncoursedatabase.c5zzynku9kw4.us-east-2.rds.amazonaws.com
0 rows affected.
10 rows affected.

[('CBMF4761', 'COMPUTATIONAL GENOMICS', "PE'ER, ITSIK", 3.5635369808260355, 3.193337237829428, 3.556817953816505, 3.883950188783525, 243),
 ('COMS4111', 'INTRODUCTION TO DATABASES', 'FERGUSON, DONALD F', 3.972876882330079, 4.129584017487091, 4.7055001635480105, 4.889985360549003, 452),
 ('COMS4111', 'INTRODUCTION TO DATABASES', 'WU, EUGENE', 4.333473014442121, 3.319501639994882, 4.509628532960762, 4.524614596872517, 302),
 ('COMS4111', 'INTRODUCTION TO DATABASES', 'BILIRIS, ALEXANDROS', 3.169836007617905, 4.180608207653702, 3.899328294256144, 4.326166473380578, 407),
 ('COMS4112', 'DATABASE SYSTEM IMPLEMENT', 'ROSS, KENNETH A', 4.697249835863322, 4.12169613806481, 3.486186555861236, 4.7584269054085615, 435),
 ('COMS4113', 'FUND-LARGE-SCALE DIST SYS', 'GEAMBASU, ROXANA', 3.745035988717527, 3.164262457013934, 3.772413768339793, 3.031984242845763, 207),
 ('COMS4115', 'PROGRAMMING LANG & TRANSL', 'GU, RONGHUI', 4.427411353850709, 4.926126591599543, 3.460819236612429, 4.015584802638381, 320),
 ('COMS4118', 'OPERATING SYSTEMS I', 'LEE, JAE W', 4.053657297799601, 4.642865661927717, 4.918581153317797, 4.708207265035868, 288),
 ('COMS4170', 'USER INTERFACE DESIGN', 'CHILTON, LYDIA', 4.552919082095588, 4.7954789652536896, 4.927118630192556, 3.157544554946136, 305),
 ('COMS4172', '3D UI AND AUGMENTED REALI', 'FEINER, STEVEN K', 4.363745269228764, 3.807965944830952, 3.2840463018588872, 3.021002701615532, 420)]

In [33]:
%sql describe course_evaluation

 * mysql+pymysql://LionCourseAdmin:***@lioncoursedatabase.c5zzynku9kw4.us-east-2.rds.amazonaws.com
8 rows affected.

[('Course', 'text', 'YES', '', None, ''),
 ('CourseSubtitle', 'text', 'YES', '', None, ''),
 ('Instructor1Name', 'text', 'YES', '', None, ''),
 ('Workload', 'double', 'YES', '', None, ''),
 ('Accessibility', 'double', 'YES', '', None, ''),
 ('Delivery', 'double', 'YES', '', None, ''),
 ('Difficulty', 'double', 'YES', '', None, ''),
 ('Cnt', 'bigint', 'YES', '', None, '')]

### Get Course Informationfrom EE Website

In [34]:
# import re
# import unicodedata
# from bs4 import BeautifulSoup
# from urllib.request import urlopen

In [35]:
# url = 'https://bulletin.engineering.columbia.edu/courses-7'

In [36]:
# # Fetch content from EE website
# html = urlopen(url).read().decode('utf-8')
# soup = BeautifulSoup(html, features='lxml')
# text = str(soup.get_text())
# # Remove '\xa0'
# text = unicodedata.normalize('NFKC', text)

In [37]:
# # Only find level 4000 and above courses -> Level4000 and Level6000 Courses
# text = text[text.find('ELEN E4106 Advanced Solid State Devices and Materials'): text.find('Bulletin SectionsAbout')]
# print(text)

In [30]:
formatStyle = '\n\n\n\n\n\n\n'
text = text.split(formatStyle)
text = [sub_text.replace('\n', ' ') for sub_text in text]

In [31]:
# Course Name, Points and Course Description
text[0].split('  ')

['ELEN E4106 Advanced Solid State Devices and Materials.',
 '3.00 points.',
 'Crystal structure and energy band theory of solids. Carrier concentration and transport in semiconductors. P-n junction and junction transistors. Semiconductor surface and MOS transistors. Optical effects and optoelectronic devices. Fabrication of devices and the effect of process variation and distribution statistics on device and circuit performance. Course shares lectures with ELEN E3106, but the work requirements differ. Undergraduate students are not eligible to register']

In [32]:
text[2]

'Fall 2022: ELEN E4106   Course Number Section/Call Number Times/Location Instructor Points Enrollment   ELEN 4106 001/15127 T Th 8:40am - 9:55am420 Pupin Laboratories Dion Khodagholy Araghy 3.00 10/50'

In [33]:
# Term
term = text[2].split('  ')[0].split(":")[0]
term

'Fall 2022'

In [34]:
# Section / Call Number
secNumber = text[2].split('  ')[2].split(" ")[3]
secNumber

'001/15127'

In [35]:
# Time, Location, Instructor, etc
timeIndex = text[2].split('  ')[2].split(" ")[4] + ' ' + text[2].split('  ')[2].split(" ")[5]
otherInfo = text[2].split('  ')[2]
otherInfo[otherInfo.find(timeIndex):]

'T Th 8:40am - 9:55am420 Pupin Laboratories Dion Khodagholy Araghy 3.00 10/50'

### Get Faculty Information from EE Website (Access Denied)

In [36]:
url2 = 'https://www.ee.columbia.edu/people-by-type/faculty'

In [37]:
html = urlopen(url2).read().decode('utf-8')
soup = BeautifulSoup(html, features='lxml')
soup

HTTPError: HTTP Error 403: Forbidden