## MySql Connection

In [1]:
from sqlalchemy import create_engine

In [2]:
database_user_id = "root"
database_user_password = "Cyx980901-"

database_url = "mysql+pymysql://" + \
    database_user_id + ":" + database_user_password + "@localhost"
database_url

'mysql+pymysql://root:Cyx980901-@localhost'

In [3]:
%reload_ext sql

In [4]:
%sql $database_url

In [5]:
sqla_engine = create_engine(database_url)

## Load Data

In [6]:
import pandas as pd

### Course Evaluation Data

In [7]:
df = pd.read_csv('course_evaluation.csv')

In [8]:
df.to_sql(
    "course_evaluation", con=sqla_engine, if_exists="replace", index=False,
    schema="6156_Project")

195

In [9]:
%%sql

use 6156_Project;

select * from course_evaluation limit 10

 * mysql+pymysql://root:***@localhost
0 rows affected.
10 rows affected.

[('CBMF4761', "PE'ER, ITSIK", 4.304943647490057, 4.876347455439261, 3.748773016393708, 4.773720173999369, 432),
 ('COMS4111', 'FERGUSON, DONALD F', 4.967056957074705, 3.869965417251532, 3.0266580554899165, 4.622024631070651, 488),
 ('COMS4111', 'WU, EUGENE', 3.304680630282048, 4.325721292445769, 4.421370581120383, 4.739572597791842, 204),
 ('COMS4111', 'BILIRIS, ALEXANDROS', 3.5072840036242585, 3.3632867363619035, 3.998127932321828, 4.169724820758901, 273),
 ('COMS4112', 'ROSS, KENNETH A', 3.5010769625922267, 3.619999447572961, 4.982049896029201, 4.432005554781648, 480),
 ('COMS4113', 'GEAMBASU, ROXANA', 4.749759958963282, 3.166808464960545, 3.064819285576162, 3.845311704233754, 333),
 ('COMS4115', 'GU, RONGHUI', 3.586898337626569, 4.750528194849955, 3.6950898046123535, 3.983218933636292, 445),
 ('COMS4118', 'LEE, JAE W', 4.195265080984695, 3.307914648102632, 3.85628174019644, 4.806847983913201, 259),
 ('COMS4170', 'CHILTON, LYDIA', 4.635571699324695, 3.9977882299017455, 3.5522914523282303, 3.2092672640758426, 435),
 ('COMS4172', 'FEINER, STEVEN K', 3.908027183812132, 4.444757235360581, 3.9965010937547065, 4.173775984689729, 372)]

In [10]:
%sql describe course_evaluation

 * mysql+pymysql://root:***@localhost
7 rows affected.

[('Course', 'text', 'YES', '', None, ''),
 ('Instructor1Name', 'text', 'YES', '', None, ''),
 ('Workload', 'double', 'YES', '', None, ''),
 ('Accessibility', 'double', 'YES', '', None, ''),
 ('Delivery', 'double', 'YES', '', None, ''),
 ('Difficulty', 'double', 'YES', '', None, ''),
 ('Cnt', 'bigint', 'YES', '', None, '')]