## MySql Connection

In [1]:
from sqlalchemy import create_engine

In [2]:
database_user_id = "Jinxuan_Tang"
database_user_password = "Yky722104$"

database_url = "mysql+pymysql://" + \
    database_user_id + ":" + database_user_password + "@localhost"
database_url

'mysql+pymysql://Jinxuan_Tang:Yky722104$@localhost'

In [3]:
%reload_ext sql

In [4]:
%sql $database_url

In [5]:
sqla_engine = create_engine(database_url)

In [6]:
%%sql 
drop schema if exists 6156_Project;
create schema 6156_Project;

 * mysql+pymysql://Jinxuan_Tang:***@localhost
1 rows affected.
1 rows affected.

[]

## Load Data

In [7]:
import pandas as pd

### Course to Department Data

In [8]:
data = pd.read_csv('course_department.csv')

In [9]:
df = data[['Course Prefix','Department Subject']]

In [23]:
df.head(5)

  Course Prefix                 Department Subject
0          AHIS                        Art History
1          AMCS  Applied Math and Computer Science
2          AMST                   American Studies
3          ANTH                       Anthropology
4          APAM   Applied Physics and Applied Math

In [10]:
df.to_sql(
    "course_to_department", con=sqla_engine, if_exists="replace", index=False,
    schema="6156_Project")

In [11]:
%%sql 
use 6156_Project;
select * from course_to_department limit 5;

 * mysql+pymysql://Jinxuan_Tang:***@localhost
0 rows affected.
5 rows affected.

[('AHIS', 'Art History'),
 ('AMCS', 'Applied Math and Computer Science'),
 ('AMST', 'American Studies'),
 ('ANTH', 'Anthropology'),
 ('APAM', 'Applied Physics and Applied Math')]

### Course Info

In [26]:
import json

In [27]:
# f = open('Data/course.json')

In [28]:
# data = json.load(f)

In [29]:
# data[-1:]

In [30]:
# data_seas_ee = []
# for d in data:
# #     if d['SchoolCode'] == 'SEAS':
#     if d['DepartmentName'] == 'Electrical Engineering' and int(str(d['Course'])[4:8]) >= 4000 and int(str(d['Term'])[0:4]) >= 2021:
#         d['NumFixedUnits'] = str(d['NumFixedUnits']).replace('0','')
#         data_seas_ee.append(d)

In [31]:
# df = pd.DataFrame.from_dict(data_seas_ee)
# df_selected = df[['Course','CourseTitle', 'CourseSubtitle', 'CallNumber', 'Term', 'Instructor1Name', 'NumFixedUnits']]

In [32]:
# %sql drop table if exists course_info_open_data

In [33]:
# df_selected.to_sql(
#     "course_info_open_data", con=sqla_engine, if_exists="replace", index=False,
#     schema="6156_Project")

In [34]:
# %sql select * from course_info_open_data limit 10

In [12]:
data_all_raw = pd.read_csv('data_all_raw.csv')

In [13]:
data_all_raw.to_sql(
    "Course_info", con=sqla_engine, if_exists="replace", index=False,
    schema="6156_Project")

C:\Users\14538\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'Course_info' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [14]:
%%sql

use 6156_Project;

select * from Course_info limit 10

 * mysql+pymysql://Jinxuan_Tang:***@localhost
0 rows affected.
10 rows affected.

[('CBMF4761W001', 'COMPUTATIONAL GENOMICS', 'COMPUTATIONAL GENOMICS', 12444, 20221, "PE'ER, ITSIK", 3, '13@14401555', '253 Eng Terrace ', 'Systems Biology'),
 ('COMS4111WH01', 'INTRODUCTION TO DATABASES', 'INTRODUCTION TO DATABASES', 20427, 20221, 'Donald F Ferguson', 3, '5@10101240', 'Hybrid', 'data'),
 ('COMS4111W001', 'INTRODUCTION TO DATABASES', 'INTRODUCTION TO DATABASES', 12428, 20221, 'Donald F Ferguson', 3, '5@10101240', '501 Schermerhorn Hall [SCH]', 'data'),
 ('COMS4111W002', 'INTRODUCTION TO DATABASES', 'INTRODUCTION TO DATABASES', 13911, 20221, 'WU, EUGENE', 3, '5@13101540  ', '417 International Affairs: Building ', 'data'),
 ('COMS4111W003', 'INTRODUCTION TO DATABASES', 'INTRODUCTION TO DATABASES', 15287, 20221, 'BILIRIS, ALEXANDROS', 3, '4@16101841', '402 Chandler ', 'data'),
 ('COMS4112W001', 'DATABASE SYSTEM IMPLEMENTATION', 'DATABASE SYSTEM IMPLEMENT', 12429, 20221, 'ROSS, KENNETH A', 3, '13@13101425', '451 Computer Science Building', 'data'),
 ('COMS4113WH01', 'FUND-LARGE-SCALE DIST SYSTEMS', 'FUND-LARGE-SCALE DIST SYS', 17356, 20221, 'GEAMBASU, ROXANA', 3, '5@10101240', 'Hybrid', 'computer systems'),
 ('COMS4113W001', 'FUND-LARGE-SCALE DIST SYSTEMS', 'FUND-LARGE-SCALE DIST SYS', 12470, 20221, 'GEAMBASU, ROXANA', 3, '5@10101241', '451 Computer Science Building', 'computer systems'),
 ('COMS4115W001', 'PROGRAMMING LANG & TRANSLATORS', 'PROGRAMMING LANG & TRANSL', 12430, 20221, 'GU, RONGHUI', 3, '13@17401855 ', '501 Schermerhorn Hall [SCH]', 'computer engineering'),
 ('COMS4118W001', 'OPERATING SYSTEMS I', 'OPERATING SYSTEMS I', 12431, 20221, 'LEE, JAE W', 3, '3@16101840 ', '501 Northwest Corner Building', 'computer systems')]

In [15]:
%sql describe Course_info

 * mysql+pymysql://Jinxuan_Tang:***@localhost
10 rows affected.

[('Course', 'text', 'YES', '', None, ''),
 ('CourseTitle', 'text', 'YES', '', None, ''),
 ('CourseSubtitle', 'text', 'YES', '', None, ''),
 ('CallNumber', 'bigint', 'YES', '', None, ''),
 ('Term', 'bigint', 'YES', '', None, ''),
 ('Instructor1Name', 'text', 'YES', '', None, ''),
 ('NumFixedUnits', 'bigint', 'YES', '', None, ''),
 ('Time', 'text', 'YES', '', None, ''),
 ('Location', 'text', 'YES', '', None, ''),
 ('Tag', 'text', 'YES', '', None, '')]

### Get Course Informationfrom EE Website

In [39]:
import re
import unicodedata
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [40]:
url = 'https://bulletin.engineering.columbia.edu/courses-7'

In [41]:
# Fetch content from EE website
html = urlopen(url).read().decode('utf-8')
soup = BeautifulSoup(html, features='lxml')
text = str(soup.get_text())
# Remove '\xa0'
text = unicodedata.normalize('NFKC', text)

FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?

In [ ]:
# Only find level 4000 and above courses -> Level4000 and Level6000 Courses
text = text[text.find('ELEN E4106 Advanced Solid State Devices and Materials'): text.find('Bulletin SectionsAbout')]
print(text)

In [ ]:
formatStyle = '\n\n\n\n\n\n\n'
text = text.split(formatStyle)
text = [sub_text.replace('\n', ' ') for sub_text in text]

In [ ]:
# Course Name, Points and Course Description
text[0].split('  ')

In [ ]:
text[2]

In [ ]:
# Term
term = text[2].split('  ')[0].split(":")[0]
term

In [ ]:
# Section / Call Number
secNumber = text[2].split('  ')[2].split(" ")[3]
secNumber

In [ ]:
# Time, Location, Instructor, etc
timeIndex = text[2].split('  ')[2].split(" ")[4] + ' ' + text[2].split('  ')[2].split(" ")[5]
otherInfo = text[2].split('  ')[2]
otherInfo[otherInfo.find(timeIndex):]

### Get Faculty Information from EE Website (Access Denied)

In [ ]:
url2 = 'https://www.ee.columbia.edu/people-by-type/faculty'

In [ ]:
html = urlopen(url2).read().decode('utf-8')
soup = BeautifulSoup(html, features='lxml')
soup