## MySql Connection

In [1]:
from sqlalchemy import create_engine

In [2]:
database_user_id = "Jinxuan_Tang"
database_user_password = "Yky722104$"

database_url = "mysql+pymysql://" + \
    database_user_id + ":" + database_user_password + "@localhost"
database_url

'mysql+pymysql://Jinxuan_Tang:Yky722104$@localhost'

In [3]:
%reload_ext sql

In [4]:
%sql $database_url

In [5]:
sqla_engine = create_engine(database_url)

In [6]:
%%sql
drop schema if exists 6156_Project;
create schema 6156_Project;

 * mysql+pymysql://Jinxuan_Tang:***@localhost
2 rows affected.
1 rows affected.

[]

## Load Data

In [7]:
import pandas as pd

### Course Evaluation Data

In [8]:
df = pd.read_csv('course_evaluation.csv')

In [9]:
df.to_sql(
    "course_evaluation", con=sqla_engine, if_exists="replace", index=False,
    schema="6156_Project")

In [10]:
%%sql

use 6156_Project;

select * from course_evaluation limit 10

 * mysql+pymysql://Jinxuan_Tang:***@localhost
0 rows affected.
10 rows affected.

[('CBMF4761', "PE'ER, ITSIK", 3.651096614227626, 3.322692531218128, 3.073207756384026, 3.033185349033962, 428),
 ('COMS4111', 'Donald F Ferguson', 4.366546110910733, 4.552926106592421, 3.610929598576712, 4.565765593815006, 474),
 ('COMS4111', 'WU, EUGENE', 4.431690054995681, 4.441173186748026, 3.242992579964442, 3.74224389075417, 413),
 ('COMS4111', 'BILIRIS, ALEXANDROS', 4.776559798933568, 4.03504404401766, 4.470619708724733, 4.302560082031816, 332),
 ('COMS4112', 'ROSS, KENNETH A', 3.17823476720461, 3.469162027742624, 4.9200674321058, 4.030742452463208, 240),
 ('COMS4113', 'GEAMBASU, ROXANA', 3.7850710758150266, 4.977789300025052, 3.4758943457051226, 4.447051693307867, 321),
 ('COMS4115', 'GU, RONGHUI', 3.0088500580152777, 4.712270312143413, 4.738062846264404, 3.9449582255082194, 230),
 ('COMS4118', 'LEE, JAE W', 4.714584539486928, 4.136149009136715, 4.098495994451659, 4.553445340047905, 223),
 ('COMS4170', 'CHILTON, LYDIA', 3.4096040367576026, 3.9292699698266498, 3.690572950591615, 4.84605423410002, 319),
 ('COMS4172', 'FEINER, STEVEN K', 3.3196386597567, 3.1025799379575973, 4.270240589292701, 4.249120039409124, 254)]

In [11]:
%sql describe course_evaluation

 * mysql+pymysql://Jinxuan_Tang:***@localhost
7 rows affected.

[('Course', 'text', 'YES', '', None, ''),
 ('Instructor1Name', 'text', 'YES', '', None, ''),
 ('Workload', 'double', 'YES', '', None, ''),
 ('Accessibility', 'double', 'YES', '', None, ''),
 ('Delivery', 'double', 'YES', '', None, ''),
 ('Difficulty', 'double', 'YES', '', None, ''),
 ('Cnt', 'bigint', 'YES', '', None, '')]